@{
    ViewData["Title"] = "Generowanie haseł";
    Layout = "_Layout";

    Func<string> generatePassword = () =>
    {
        var random = new Random();
        var characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        Func<int, string> generatePart = length =>
            new string(Enumerable.Repeat(characters, length)
                .Select(s => s[random.Next(s.Length)]).ToArray());

        return $"{generatePart(6)}-{generatePart(6)}-{generatePart(6)}";
    };

    var password = generatePassword();
}

<h1>@ViewData["Title"]</h1>

<p>Wygeneruj bezpieczne hasło:</p>

<form method="post">
    <input type="text" id="password" class="form-control" style="width: 200px" value="@password" readonly>
    <button type="submit" class="btn btn-primary mt-2">Generuj nowe hasło</button>
    <button type="button" class="btn btn-secondary mt-2" onclick="copyPassword()">Kopiuj hasło do schowka</button>
</form>

<script>
    function copyPassword() {
        // Pobierz hasło
        var password = document.getElementById("password");

        // Skopiuj hasło do schowka
        navigator.clipboard.writeText(password.value).then(function () {
            console.log('Kopiowanie do schowka zakończone sukcesem');
        }, function (err) {
            console.error('Nie można skopiować hasła: ', err);
        });
    }
</script>
