@{
    ViewData["Title"] = "Strona główna";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            font-size: 120px;
        }
    </style>
</head>
<div class="text-center" style="font-size: 20px;">
    <h1 class="display-4"> Witamy w Menadżer Haseł</h1>
<p>
        <h4><strong>Twoje bezpieczeństwo, nasz priorytet.</strong></h4>

    </p><span class="material-symbols-outlined">
        shield_lock
    </span>
<p>
        <h5><strong>Zarządzaj Swoimi Hasłami Łatwo i Bezpiecznie</strong></h5><br>
    W dzisiejszym cyfrowym świecie ochrona danych osobowych i poufnych informacji to podstawa. Nasz menedżer haseł został stworzony,
    aby zapewnić Ci pełne bezpieczeństwo i wygodę w zarządzaniu hasłami. Niezależnie od tego, czy jesteś profesjonalistą, studentem, 
    czy po prostu dbasz o swoją prywatność, nasze narzędzie jest idealnym rozwiązaniem dla Ciebie.<br><br>
</p>
<p>
		<h5><strong>Dlaczego warto wybrać Menedżer Haseł?</strong></h5>
</p>
</div>
<ul style="font-size: 18px; margin-top: 30px;">
    <li><strong>Najwyższy poziom bezpieczeństwa:</strong> Wykorzystujemy zaawansowane technologie szyfrowania, aby chronić Twoje dane przed nieautoryzowanym dostępem.</li>
    <li><strong>Łatwość użycia:</strong> Intuicyjny interfejs użytkownika umożliwia szybkie i proste zarządzanie hasłami.</li>
    <li><strong>Dostępność na wszystkich urządzeniach:</strong> Nasza aplikacja jest dostępna na komputerach, tabletach i smartfonach, dzięki czemu masz dostęp do swoich haseł gdziekolwiek jesteś.</li>
    <li><strong>Automatyczne generowanie silnych haseł:</strong> Twórz unikalne i trudne do złamania hasła za pomocą jednego kliknięcia.</li>
    <li><strong>Sprawdzanie czy Twoje hasło jest silne:</strong> Dowiedz się czy Twoje hasło spełnia wymagania bezpieczeństwa</li>
</ul>