@{
    ViewData["Title"] = "Bezpieczeństwo";
}

<div class="text-center" style="font-size: 20px;">
    <h1 class="display-4">Bezpieczeństwo w Menedżerze haseł</h1><br>
    <h4>Lokalne szyfrowanie danych</h4>
    <p>

        Zanim jakiekolwiek dane osobiste, takie jak hasła czy informacje o kartach kredytowych, zostaną wysłane na nasze zewnętrzne serwery,
        są one najpierw szyfrowane lokalnie na urządzeniu użytkownika. Dzięki temu procesowi, Twoje dane są już zabezpieczone przed potencjalnym
        przechwyceniem zanim opuszczą Twoje urządzenie.
    </p><br>
    <h4>Wykorzystanie algorytmu AES-GCM</h4>
    <p>

        Do szyfrowania danych stosujemy algorytm Advanced Encryption Standard (AES) w trybie Galois/Counter Mode (GCM). AES-GCM jest uznawany za jeden
        z najbezpieczniejszych i najczęściej stosowanych algorytmów szyfrowania na świecie. Wybór tego standardu zapewnia wysoki poziom bezpieczeństwa,
        szybkość przetwarzania danych oraz integralność i autentyczność przesyłanych informacji.
    </p><br>
    <h4>Dlaczego to ważne?</h4>
    <p>

        Lokalne szyfrowanie danych przed ich wysłaniem na serwer minimalizuje ryzyko dostępu nieuprawnionych osób do Twoich prywatnych informacji w
        przypadku potencjalnego ataku na nasze systemy lub podczas transmisji danych. Używanie sprawdzonego i silnego algorytmu szyfrowania, jakim jest
        AES-GCM, dodatkowo zwiększa ten poziom bezpieczeństwa, zapewniając Ci spokój o ochronę Twoich danych.
    </p>
</div>
