@{
    ViewData["Title"] = "Zaloguj się";
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Permissions-Policy" content="geolocation 'self'; microphone 'self'; camera 'self'">
    <meta http-equiv="Permissions-Policy-Report-Only" content="geolocation 'self'; microphone 'self'; camera 'self'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style>
        .container2 {
            max-width: 400px; /* Zwiększenie maksymalnej szerokości */
            margin: 50px auto; /* Wyśrodkowanie kontenera z zachowaniem marginesu u góry */
        }

        .material-symbols-outlined {
            font-size: 150px;
            margin-bottom: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .form-text {
            font-size: 14px;
        }

        .password-toggle {
            position: relative;
        }

        .password-icon {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: calc(50%); /* Center vertically, adjust here if needed */
            color: #000;
            z-index: 2;
            transform: translateY(50%); /* Use transform to fine-tune vertical positioning */
        }

        .password-input {
            padding-right: 30px; /* Make room for the icon inside the input */
        }
    </style>
</head>
<body>
    <div class="container2">
        <h1 class="display-4 text-center">Zaloguj się</h1>


        <span class="material-symbols-outlined text-center">
            <i class="fas fa-user"></i>
        </span>

        <form method="post" action="/login">
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Adres email</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Wpisz email">
                <div id="emailHelp" class="form-text">Nie udostępniamy nikomu Twojego adresu email.</div>
            </div>
            <div class="mb-3 password-toggle">
                <label for="inputPassword" class="form-label">Hasło</label>
                <input type="password" class="form-control password-input" id="inputPassword" placeholder="Hasło">
                <i class="fas fa-eye password-icon" onclick="togglePasswordVisibility()"></i>
            </div>

            <button type="button" class="btn btn-primary d-block mx-auto" id="but_zaloguj">Zaloguj się</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("inputPassword");
            var passwordIcon = document.querySelector(".password-icon");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordIcon.classList.replace("fa-eye", "fa-eye-slash");
            } else {
                passwordInput.type = "password";
                passwordIcon.classList.replace("fa-eye-slash", "fa-eye");
            }
        }
    </script>

    <script type="module" src="/lib/bootstrap/dist/js/Zaloguj.js"></script>
</body>
</html>
